name: Update gist with WakaTime stats
on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: 
      - master
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Update gist
        uses: matchai/waka-box@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 1dede19cb6219c84e800f4901156f178
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SHOW_LANGUAGE : True
          SHOW_OS : True
          SHOW_EDITORS : True